* {
  font-family: Inter, sans-serif, -apple-system, blinkmacsystemfont, Segoe UI,
    roboto, Helvetica Neue, arial, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
